# Required python modules for running a web node of MyVariant.info
# To install all requirement, run
#    pip install -r requirements_web.txt

# required
tornado
elasticsearch<6.2,>=6.0

# biothings
git+https://github.com/biothings/biothings.api.git@f840ab54b9e7910d1250b9312fa34d7cafcbe3a6#egg=biothings

# optional
msgpack-python==0.4.6

# for utils.common
psutil

# for nosetests
nose>=1.3.7
httplib2>=0.8

#should be in biothings...
pytz
gitpython

# for sentry monitoring
raven
